// Font Family
$Font-style: 'League Spartan', sans-serif;

// Primary corol
$Very-Dark-Magenta: hsl(300, 43%, 22%);
$Soft-Pink: hsl(333, 80%, 67%);

// Neutral corol
$Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

// Breakpoints
$screen-sm: 576px;      // Large smartphones
$screen-md: 768px;      // Small tablets
$screen-lg: 992px;      // Tablets
$screen-xl: 1200px;     // Desktops
$screen-xxl: 1440px;    // Large desktops